@import url(http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Rock+Salt|Homemade+Apple|Covered+By+Your+Grace);


#board {
  background-color: #f5feff;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Homemade Apple', cursive;
}

.marker{
  font-family: 'Permanent Marker', cursive;
}

.pen{
  font-family: 'Rock Salt', cursive;
}

.ink{
  font-family: 'Patrick Hand', cursive;
}

.hand-write{
  font-family: 'Covered By Your Grace', cursive;
}

#palette{
  margin-left: 18%;
  font-family: 'Rock Salt', cursive;
  margin-bottom: 5px;
}

#pen-font{
  border: solid black;
  font-family: 'Patrick Hand', cursive;
  padding-left: 8px;
  width: 45%;
  margin-top: 2px;
  margin-left: 20%;
  margin-bottom: 2px;
  border-radius: 20;
}

#pen-color:hover, #pen-font:hover{
  background-color: #eb7475;
}

#pen-color{
 border: solid black;
 font-family: 'Patrick Hand', cursive;
 padding-left: 12px;
 width: 55%;
 margin-top: 5%;
 margin-left: 15%;
 margin-bottom: 2px;
 border-radius: 20;
}

#clear-board{
 border: solid black;
 font-family: 'Patrick Hand', cursive;
 padding-left: 10px;
 width: 33%;
 margin-top: 5%;
 margin-left: 25%;
 margin-bottom: 2px;
 border-radius: 20;
}

#clear-board:hover, #pen-font:hover{
  background-color: #eb7475;
}

#controls {
  margin-left: 20px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  background-color: #f1e09c;
  box-shadow: -2px 2px 5px #544;
}

.post-it {
  display:none;
  position: absolute !important;
  top: 0px;
  width: 150px;
  height: 150px;
  background-color: #f1e09c;
  box-shadow: -2px 2px 5px #544;
  overflow: hidden;
  text-align: left;
  min-height: 100px;
  min-width:100px;
}

.content:focus {
  background-color: #f3ee90;
}

.header .erase {
  color:#bb9b1a;
  float: left;
}

.header .erase:hover, .header .close:hover, .header .note-font:hover {
  color:#eb7475;
}

.header .note-font {
  color:#bb9b1a;
  padding-left: 10px;
  float: left;
}


.header .close {
  color:#bb9b1a;
}

.post-it .header {
  background-color: #f1e09c;
  text-align: right;
  padding: 2px;
  font-family: 'Permanent Marker', cursive;
}

.post-it .header:hover {
  background-color: #f4dc00;
  max-height: 100px;
  overflow: scroll;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  max-height: 100px;
  overflow: scroll;
  outline: none;
}
