/* @import url("netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url("netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");*/@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt);


#board {
  background-color: #f5feff;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: courier;
}

.marker{
font-family: 'Permanent Marker', cursive;
}

.pen{
font-family: 'Rock Salt', cursive;
}

#palette{
  margin-left: 18%;
  font-family: 'Rock Salt', cursive;
}

#pen-font{
  border: solid black;
  padding-left: 3px;
  width: 45%;
  margin-top: 2px;
  margin-left: 20%;
  margin-bottom: 2px;
  border-radius: 20;
}

#pen-color{
 border: solid black;
  padding-left: 3px;
  width: 55%;
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 2px;
  border-radius: 20;
}

#controls {
  margin-left: 20px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  background-color: #f1e09c;
  box-shadow: -2px 2px 5px #544;
}

.post-it {
  display:none;
  position: absolute !important;
  top: 0px;
  width: 150px;
  height: 150px;
  background-color: #f1e09c;
  box-shadow: -2px 2px 5px #544;
  overflow: hidden;
  text-align: left;
}

.header .erase {
  color:#bb9b1a;
  float: left;
}

.header .erase:hover {
  color:#eb7475;
}

.header .close {
  color:#bb9b1a;
}

.header .close:hover {
 color:#eb7475;
}


.post-it .header {
  background-color: #f1e09c;
  text-align: right;
  padding: 2px;
}

.post-it .header:hover {
  background-color: #f4dc00;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}
